



/*-----NAVIGATION-----*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    overflow: auto;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

/*------LOGO-----*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-----RECTANGLE-----*/

h1 {
    text-align:center;
    text-transform: uppercase;
    color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif; 
    padding-top: 10px
}

.service {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
    color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif; 
    padding-bottom: 10px;
}

.rectangle {
    background-color: grey;
}

/*-----HEADING-----*/
.h1heading {
    color: black;
    font-family: 'Graduate', cursive;
}

/*-----TABLE-----*/
table, tr,td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    margin: auto
}

table.empty {
    empty-cells: show
}

/*------PARAGRAPHE------*/
.service {
    color: black;
    font-size: 10px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}


/*-----FOOTER-----*/
.footer {
    font-size: 10px;
    background-color: grey;
    padding: 14px 16px;
    color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    
}